{% extends 'base.html.twig' %}

{% block main %}
    <a class="ajoute" href="{{ path('admin_insert_category') }}">Ajoutez une catégorie !</a>

    {% for category in categories %}
        <article class="les_articles">
            <h2 style="color: {{ category.color }};">{{ category.title }}</h2>
            <a href="{{ path('admin_all_category', {'id': category.id}) }}">clique pour voir la race</a>
            <a href="{{ path('admin_categories', {'id': category.id}) }}">Voici la liste</a>
            <a href="{{ path('admin_delete_category', {'id': category.id}) }}">Pour supprimer c'est ici !</a>
            <a href="{{ path('admin_update_category', {'id': category.id}) }}">Modifier la categorie</a>
        </article>
    {% endfor %}

{% endblock %}