{% extends 'base.html.twig' %}


{% block title %}
    <title>Liste des articles</title>
{% endblock title %}


{% block main %}

    <section class="articles">

        {% for article in articles %}

            {% if article.isPublished %}
                <article class="article">
                    {# <img class="article-img" src="{{ article.image }}" alt="{{ article.title }}"> #}
                    <h1>{{ article.title }}</h1>
                    <p>{{ article.author }}</p>
                    <a href="{{ path('admin_article', {'id': article.id }) }}">Clique j't'ai dit</a>
                </article>
            {% endif %}

        {% endfor %}
    </section>

{% endblock %}

{% block footer %}
    <p>J'ai re définis le footer x2</p>
{% endblock %}