{% extends 'base.html.twig' %}

{% block title %}Tag{% endblock %}

{% block main %}
    <h1>Tag</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ tag.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ tag.title }}</td>
            </tr>
            <tr>
                <th>Color</th>
                <td>{{ tag.color }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_admin_tag_index') }}">back to list</a>

    <a href="{{ path('app_admin_tag_edit', {'id': tag.id}) }}">edit</a>

    {{ include('admin_tag/_delete_form.html.twig') }}
{% endblock %}
